{{paper-autocomplete
  minLength=0
  placeholder="Type e.g. John, Doe, etc."
  source=dataFromPromise
  lookupKey="name"
  model=user
  cache-miss="updateFilter"}}
<!-- {{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each dataFromPromise as |user|}}
      {{#paper-item class="md-3-line"}}
          <div class="md-list-item-text">
              <h3>{{user.name}}</h3>
          </div>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}} -->
<table id="list" class="mdl-data-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric sorting">Name</th>
                <th class="mdl-data-table__cell--non-numeric sorting">Contact</th>
                <th class="mdl-data-table__cell--non-numeric sorting">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
          {{#each dataFromPromise as |user|}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{user.contact}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{moment-format user.createdAt 'MMM Qo, h:mm a'}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
