<div class="guest-list--container">
      {{#if displaySelected}}
        {{#paper-toolbar}}
          {{#paper-toolbar-tools}}
            <div class="">
              {{displayUsersSelected}}
            </div>
            <span class="flex"></span>
            {{#paper-button iconButton=true onClick=(action "openDialogWithParent")}}
              {{paper-icon "delete"}}
            {{/paper-button}}
          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}
      {{else}}
        {{paper-autocomplete minLength=0 placeholder=placeholder model=myModel source=sortedListData lookupKey="name" cache-miss="updateFilter"}}
      {{/if}}
  <div class="scrollable">
    <table id="list" class="mdl-data-table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric checkbox">
            {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
          </th>
          <th class="mdl-data-table__cell--non-numeric active" onClick={{action "toggleSort" "name"}}>
            <span>Name</span>
            {{#if reverseSortName}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}
          </th>
          <th class="mdl-data-table__cell--non-numeric" onClick={{action "toggleSort" "createdAt"}}>
            <span>Date Submitted</span>
            {{#if reverseSortCreatedAt}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}
          </th>
          <th class="mdl-data-table__cell--non-numeric" onClick={{action "toggleSort" "contact"}}>
            <span>Host</span>
            {{#if reverseSortContact}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedListData as |user|}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric checkbox">
            {{#paper-checkbox value=user.checked onChange=(action (mut user.checked))}}{{/paper-checkbox}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{moment-format user.createdAt 'MM/DD/YY, h:mm a'}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.contact}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#if showDialogWithParent}}
  {{#paper-dialog onClose=(action "closeDialogWithParent" "cancel") parent=".guest-list--container" origin=dialogOrigin clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          <h2>Delete</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closeDialogWithParent" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
        </div>
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <div style="max-width:800px;max-height:810px;">
          <p>
            Are you sure you want to DELETE the selected guests?
          </p>
        </div>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "closeDialogWithParent" "cancel")}}Cancel{{/paper-button}}
        {{#paper-button onClick=(action "closeDialogWithParent" "ok")}}OK{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}
