<div class="guest-list--container">
  {{paper-autocomplete minLength=0 placeholder="Type e.g. John, Doe, etc." source=sortedListData lookupKey="name" model=user cache-miss="updateFilter"}}
  <div class="scrollable">
    <table id="list" class="mdl-data-table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <!-- <th class="mdl-data-table__cell--non-numeric sorting">
            {{#paper-item onClick=(action "sortBy" "name")}}
            <p>Name</p>
            {{#if reserveSortName}}
              {{paper-icon "arrow downward" size=18}}
            {{else}}
              {{paper-icon "arrow upward" size=18}}
            {{/if}}
            {{paper-switch class="md-secondary" value=reverseSortName onChange=(action "toggleSort" "name") size='18'}}
            {{/paper-item}}
          </th> -->
          <th class="mdl-data-table__cell--non-numeric sorting">
            {{#paper-item onClick=(action "toggleSort" "name")}}
            <p>Name</p>
            {{#if reverseSortName}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}
            {{/paper-item}}
          </th>
          <th class="mdl-data-table__cell--non-numeric sorting">
            {{#paper-item onClick=(action "toggleSort" "createdAt")}}
            <p>Date Submitted</p>
            {{#if reverseSortCreatedAt}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}            {{/paper-item}}
          </th>
          <th class="mdl-data-table__cell--non-numeric sorting">
            {{#paper-item onClick=(action "toggleSort" "contact")}}
            <p>Contact</p>
            {{#if reverseSortContact}}
              {{paper-icon "arrow upward" size=18}}
            {{else}}
              {{paper-icon "arrow downward" size=18}}
            {{/if}}            {{/paper-item}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedListData as |user|}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{moment-format user.createdAt 'MM/DD/YY, h:mm a'}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.contact}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
